[Desktop Entry]
Type=Application
Name=People
Icon=/usr/share/glacier-contacts/icon-app-contacts.png
Exec=/usr/bin/glacier-contacts
Comment=Nemo People Application
Name[ru]=Контакты
Name[cs]=Kontakty
Name[fi]=Yhteystiedot
Name[uk]=Контакти
Name[fr]=Contacts
Name[pl]=Kontakty
Name[de]=Kontakte
Name[ro]=Contacte
