[Desktop Entry]
Type=Application
Name=People
Icon=/usr/share/glacier-contacts/icon-app-contacts.png
Exec=invoker --type=nemomobile -s /usr/bin/glacier-contacts
Comment=Nemo People Application
Name[ru]=Контакты
